.todo-checkbox-wrapper {
    position: relative;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todo-checkbox-wrapper input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.todo-checkbox-wrapper .todo-checkbox {
    width: 1em;
    height: 1em;
    background-color: white;

    border-radius: 50%;
    border: 0.15em solid hsl(0, 0%, 50%);
    overflow: hidden;

    transition: background-color 0.2s, border-color 0.2s;
}

.todo-checkmark {
    width: 40%;
    height: 60%;

    transform: rotate(45deg);

    margin-top: 12%;
    margin-left: 32%;
}

.todo-checkmark::before,
.todo-checkmark::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: transform 0.2s;
}

.todo-checkmark::before {
    width: 100%;
    height: 20%;
    bottom: 0;

    border-radius: 30% / 100%;

    transform: translateX(-170%);
}

.todo-checkmark::after {
    width: 30%;
    height: 100%;
    right: 0;

    border-radius: 100% / 20%;

    transform: translateY(-130%);
}

.todo-checkbox-wrapper input:checked + .todo-checkbox {
    background-color: #0074d9;
    border-color: #0074d9;
}

.todo-checkbox-wrapper input:checked + .todo-checkbox .todo-checkmark::after,
.todo-checkbox-wrapper input:checked + .todo-checkbox .todo-checkmark::before {
    transform: translate(0);
}

.todo-checkbox-wrapper .todo-checkbox:hover {
    border-color: hsl(0, 0%, 20%);
}
.todo-checkbox-wrapper input:checked + .todo-checkbox:hover {
    background-color: hsl(208, 100%, 33%);
    border-color: hsl(208, 100%, 33%);
}
