.header {
    height: 60px;
    background-color: #001529;
    color: white;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-grow: 1;
}

.categories {
    flex-shrink: 0;
    width: 250px;
    transition: width 200ms ease;
    background-color: greenyellow;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .categories.hidden {
        width: 0px;
    }
    .categories {
        position: absolute;
        height: 100%;
        background-color: lime;
    }
}

.todos {
    position: relative;
    flex-grow: 1;
}

.todos-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}
.todos-wrapper-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
